
<h1>Dashboard Details</h1>
<p><%= link_to 'Total numbers of Products :' ,  :root %> <b><%= @productshow %></b> </p>
<p><%= link_to 'Total numbers of Categories:', :root %> <b><%= @categorieshow %></b> </p>
